
 body {
    background-color: rgba(137, 171, 182, 0.575);
 }
 h1 {
    color : #16697a;  
  }
   
  h3 {
    color :  #16697a; 
  }

 hr {
     
     border-style:none;
     border-top-style: dotted;
     border-color:#92a8d1;
     border-width: 5px;
     width: 5%;
 }
 